@model SpaceAgenciesDatabaseApp.CrewsAstronauts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CrewsAstronauts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Astronaut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Astronaut.Duty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crew.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
