@model IEnumerable<SpaceAgenciesDatabaseApp.CrewsAstronauts>

@{
    ViewData["Title"] = "Crews and astronauts";
}

<h1>Crews and astronauts</h1>

<p>
    <a asp-action="Create">Add astronaut to crew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Astronaut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crew)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Astronaut.Duty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crew.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
