@model IEnumerable<SpaceAgenciesDatabaseApp.SpacePrograms>

@{
    ViewData["Title"] = "Space programs";
}

<h1>@ViewBag.AgencyName program </h1>

<p>
    @Html.ActionLink("Create new program", "Create", new {agencyId = @ViewBag.AgencyId} )

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
         </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class ="container">
    <div id="chart2"></div>
</div>

@section  scripts{ 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart(){
            $.get('/api/Charts/ProgramsJsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                    var option = {
                        title: "Missions to programs ratio",
                        width: 800,
                        height: 600,
                        
                    };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}